@media (max-width: 600px) {
  body {
    min-width: 100vw;
  }
}

@media (min-width: 600px) {
  body {
    min-width: 100vw;
  }
}
@media (min-width: 1200px) {
  body {
    min-width: 66vw;
  }
}

body {
  display: flex;
  justify-content: center;
}
